// Tell npm to resolve everything else from the npm registry
registry=https://registry.npmjs.org/

// Ensure your private module TC8L-Forms is fetched from Verdaccio
@tc8l:registry=http://nuget.office.cre8ion.nl:4873

always-auth=true
//npm.greensock.com/:_authToken=b584ad85-4e5c-429b-89b7-bbdf7439e206
@gsap:registry=https://npm.greensock.com

