/*
  Simple Grid
  Learn More - http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - dallasbass.com
*/
/// <reference path="mixins.scss" />
/// <reference path="variables.scss" />
/*------------------------------------*\
    Default Grid
\*------------------------------------*/
[class*='col-'] {
  float: left;
  padding-right: $gutter;
  padding-left: $gutter;
}

.grid {
  width: 100%;
  max-width: $gridsize;
  margin: 0 auto;
  @extend .clearfix;
}

.grid-pad {
  padding-top: 0;
  padding-left: $gutter;
  padding-right: $gutter;
}

.hide {
  display: none;
}

.no-p {
  padding: 0;
}

/* COL'S */
.col-1-1 {
  width: 100%;
  width: calc(100% / 12 * 12);
}

.col-11-12 {
  width: 91.66%;
  width: calc(100% / 12 * 11);
}

.col-10-12 {
  width: 83.333%;
  width: calc(100% / 12 * 10);
}

.col-9-12,
.col-3-4 {
  width: 75%;
  width: calc(100% / 12 * 9);
}

.col-8-12,
.col-2-3 {
  width: 66.66%;
  width: calc(100% / 12 * 8);
}

.col-7-12 {
  width: 58.33%;
  width: calc(100% / 12 * 7);
}

.col-6-12,
.col-1-2 {
  width: 50%;
  width: calc(100% / 12 * 6);
}

.col-5-12 {
  width: 41.66%;
  width: calc(100% / 12 * 5);
}

.col-4-12,
.col-1-3 {
  width: 33.33%;
  width: calc(100% / 12 * 4);
}

.col-3-12,
.col-1-4 {
  width: 25%;
  width: calc(100% / 12 * 3);
}

.col-1-5 {
  width: 20%;
  width: calc(100% / 5);
}

.col-2-12,
.col-1-6 {
  width: 16.667%;
  width: calc(100% / 12 * 2);
}

.col-1-7 {
  width: 14.28%;
  width: calc(100% / 7);
}

.col-1-8 {
  width: 12.5%;
  width: calc(100% / 8);
}

.col-1-9 {
  width: 11.1%;
  width: calc(100% / 9);
}

.col-1-10 {
  width: 10%;
  width: calc(100% / 10);
}

.col-1-11 {
  width: 9.09%;
  width: calc(100% / 11);
}

.col-1-12 {
  width: 8.33%;
  width: calc(100% / 12 * 1);
}

/* PUSH */

.push-1-1 {
  margin-left: 100%;
  margin-left: calc(100% / 12 * 12);
}

.push-11-12 {
  margin-left: 91.66%;
  margin-left: calc(100% / 12 * 11);
}

.push-10-12 {
  margin-left: 83.333%;
  margin-left: calc(100% / 12 * 10);
}

.push-9-12,
.push-3-4 {
  margin-left: 75%;
  margin-left: calc(100% / 12 * 9);
}

.push-8-12,
.push-2-3 {
  margin-left: 66.66%;
  margin-left: calc(100% / 12 * 8);
}

.push-7-12 {
  margin-left: 58.33%;
  margin-left: calc(100% / 12 * 7);
}

.push-6-12,
.push-1-2 {
  margin-left: 50%;
  margin-left: calc(100% / 12 * 6);
}

.push-5-12 {
  margin-left: 41.66%;
  margin-left: calc(100% / 12 * 5);
}

.push-4-12,
.push-1-3 {
  margin-left: 33.33%;
  margin-left: calc(100% / 12 * 4);
}

.push-3-12,
.push-1-4 {
  margin-left: 25%;
  margin-left: calc(100% / 12 * 3);
}

.push-1-5 {
  margin-left: 20%;
  margin-left: calc(100% / 5);
}

.push-2-12,
.push-1-6 {
  margin-left: 16.667%;
  margin-left: calc(100% / 12 * 2);
}

.push-1-7 {
  margin-left: 14.28%;
  margin-left: calc(100% / 7);
}

.push-1-8 {
  margin-left: 12.5%;
  margin-left: calc(100% / 8);
}

.push-1-9 {
  margin-left: 11.1%;
  margin-left: calc(100% / 9);
}

.push-1-10 {
  margin-left: 10%;
  margin-left: calc(100% / 10);
}

.push-1-11 {
  margin-left: 9.09%;
  margin-left: calc(100% / 11);
}

.push-1-12 {
  margin-left: 8.33%;
  margin-left: calc(100% / 12 * 1);
}

/*------------------------------------*\
    LT Grid
\*------------------------------------*/
@media screen and (max-width: $screen-lt) {
  /* COL'S */
  .lt-col-1-1 {
    width: 100%;
    width: calc(100% / 12 * 12);
  }

  .lt-col-11-12 {
    width: 91.66%;
    width: calc(100% / 12 * 11);
  }

  .lt-col-10-12 {
    width: 83.333%;
    width: calc(100% / 12 * 10);
  }

  .lt-col-9-12,
  .lt-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
  }

  .lt-col-8-12,
  .lt-col-2-3 {
    width: 66.66%;
    width: calc(100% / 12 * 8);
  }

  .lt-col-7-12 {
    width: 58.33%;
    width: calc(100% / 12 * 7);
  }

  .lt-col-6-12,
  .lt-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
  }

  .lt-col-5-12 {
    width: 41.66%;
    width: calc(100% / 12 * 5);
  }

  .lt-col-4-12,
  .lt-col-1-3 {
    width: 33.33%;
    width: calc(100% / 12 * 4);
  }

  .lt-col-3-12,
  .lt-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
  }

  .lt-col-1-5 {
    width: 20%;
    width: calc(100% / 5);
  }

  .lt-col-2-12,
  .lt-col-1-6 {
    width: 16.667%;
    width: calc(100% / 12 * 2);
  }

  .lt-col-1-7 {
    width: 14.28%;
    width: calc(100% / 7);
  }

  .lt-col-1-8 {
    width: 12.5%;
    width: calc(100% / 8);
  }

  .lt-col-1-9 {
    width: 11.1%;
    width: calc(100% / 9);
  }

  .lt-col-1-10 {
    width: 10%;
    width: calc(100% / 10);
  }

  .lt-col-1-11 {
    width: 9.09%;
    width: calc(100% / 11);
  }

  .lt-col-1-12 {
    width: 8.33%;
    width: calc(100% / 12);
  }

  /* PUSH */

  .lt-push-1-1 {
    margin-left: 100%;
    margin-left: calc(100% / 12 * 12);
  }

  .lt-push-11-12 {
    margin-left: 91.66%;
    margin-left: calc(100% / 12 * 11);
  }

  .lt-push-10-12 {
    margin-left: 83.333%;
    margin-left: calc(100% / 12 * 10);
  }

  .lt-push-9-12,
  .lt-push-3-4 {
    margin-left: 75%;
    margin-left: calc(100% / 12 * 9);
  }

  .lt-push-8-12,
  .lt-push-2-3 {
    margin-left: 66.66%;
    margin-left: calc(100% / 12 * 8);
  }

  .lt-push-7-12 {
    margin-left: 58.33%;
    margin-left: calc(100% / 12 * 7);
  }

  .lt-push-6-12,
  .lt-push-1-2 {
    margin-left: 50%;
    margin-left: calc(100% / 12 * 6);
  }

  .lt-push-5-12 {
    margin-left: 41.66%;
    margin-left: calc(100% / 12 * 5);
  }

  .lt-push-4-12,
  .lt-push-1-3 {
    margin-left: 33.33%;
    margin-left: calc(100% / 12 * 4);
  }

  .lt-push-3-12,
  .lt-push-1-4 {
    margin-left: 25%;
    margin-left: calc(100% / 12 * 3);
  }

  .lt-push-1-5 {
    margin-left: 20%;
    margin-left: calc(100% / 5);
  }

  .lt-push-2-12,
  .lt-push-1-6 {
    margin-left: 16.667%;
    margin-left: calc(100% / 12 * 2);
  }

  .lt-push-1-7 {
    margin-left: 14.28%;
    margin-left: calc(100% / 7);
  }

  .lt-push-1-8 {
    margin-left: 12.5%;
    margin-left: calc(100% / 8);
  }

  .lt-push-1-9 {
    margin-left: 11.1%;
    margin-left: calc(100% / 9);
  }

  .lt-push-1-10 {
    margin-left: 10%;
    margin-left: calc(100% / 10);
  }

  .lt-push-1-11 {
    margin-left: 9.09%;
    margin-left: calc(100% / 11);
  }

  .lt-push-1-12 {
    margin-left: 8.33%;
    margin-left: calc(100% / 12);
  }

  .lt-push-0 {
    margin-left: 0;
  }

  .lt-show {
    display: block;
  }

  .lt-hide {
    display: none;
  }

  .lt-no-p {
    padding: 0;
  }
}

/*------------------------------------*\
    LT Grid
\*------------------------------------*/
@media screen and (max-width: $screen-lt) {
  /* COL'S */
  .lt-col-1-1 {
    width: 100%;
    width: calc(100% / 12 * 12);
  }

  .lt-col-11-12 {
    width: 91.66%;
    width: calc(100% / 12 * 11);
  }

  .lt-col-10-12 {
    width: 83.333%;
    width: calc(100% / 12 * 10);
  }

  .lt-col-9-12,
  .lt-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
  }

  .lt-col-8-12,
  .lt-col-2-3 {
    width: 66.66%;
    width: calc(100% / 12 * 8);
  }

  .lt-col-7-12 {
    width: 58.33%;
    width: calc(100% / 12 * 7);
  }

  .lt-col-6-12,
  .lt-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
  }

  .lt-col-5-12 {
    width: 41.66%;
    width: calc(100% / 12 * 5);
  }

  .lt-col-4-12,
  .lt-col-1-3 {
    width: 33.33%;
    width: calc(100% / 12 * 4);
  }

  .lt-col-3-12,
  .lt-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
  }

  .lt-col-1-5 {
    width: 20%;
    width: calc(100% / 5);
  }

  .lt-col-2-12,
  .lt-col-1-6 {
    width: 16.667%;
    width: calc(100% / 12 * 2);
  }

  .lt-col-1-7 {
    width: 14.28%;
    width: calc(100% / 7);
  }

  .lt-col-1-8 {
    width: 12.5%;
    width: calc(100% / 8);
  }

  .lt-col-1-9 {
    width: 11.1%;
    width: calc(100% / 9);
  }

  .lt-col-1-10 {
    width: 10%;
    width: calc(100% / 10);
  }

  .lt-col-1-11 {
    width: 9.09%;
    width: calc(100% / 11);
  }

  .lt-col-1-12 {
    width: 8.33%;
    width: calc(100% / 12);
  }

  /* PUSH */

  .lt-push-1-1 {
    margin-left: 100%;
    margin-left: calc(100% / 12 * 12);
  }

  .lt-push-11-12 {
    margin-left: 91.66%;
    margin-left: calc(100% / 12 * 11);
  }

  .lt-push-10-12 {
    margin-left: 83.333%;
    margin-left: calc(100% / 12 * 10);
  }

  .lt-push-9-12,
  .lt-push-3-4 {
    margin-left: 75%;
    margin-left: calc(100% / 12 * 9);
  }

  .lt-push-8-12,
  .lt-push-2-3 {
    margin-left: 66.66%;
    margin-left: calc(100% / 12 * 8);
  }

  .lt-push-7-12 {
    margin-left: 58.33%;
    margin-left: calc(100% / 12 * 7);
  }

  .lt-push-6-12,
  .lt-push-1-2 {
    margin-left: 50%;
    margin-left: calc(100% / 12 * 6);
  }

  .lt-push-5-12 {
    margin-left: 41.66%;
    margin-left: calc(100% / 12 * 5);
  }

  .lt-push-4-12,
  .lt-push-1-3 {
    margin-left: 33.33%;
    margin-left: calc(100% / 12 * 4);
  }

  .lt-push-3-12,
  .lt-push-1-4 {
    margin-left: 25%;
    margin-left: calc(100% / 12 * 3);
  }

  .lt-push-1-5 {
    margin-left: 20%;
    margin-left: calc(100% / 5);
  }

  .lt-push-2-12,
  .lt-push-1-6 {
    margin-left: 16.667%;
    margin-left: calc(100% / 12 * 2);
  }

  .lt-push-1-7 {
    margin-left: 14.28%;
    margin-left: calc(100% / 7);
  }

  .lt-push-1-8 {
    margin-left: 12.5%;
    margin-left: calc(100% / 8);
  }

  .lt-push-1-9 {
    margin-left: 11.1%;
    margin-left: calc(100% / 9);
  }

  .lt-push-1-10 {
    margin-left: 10%;
    margin-left: calc(100% / 10);
  }

  .lt-push-1-11 {
    margin-left: 9.09%;
    margin-left: calc(100% / 11);
  }

  .lt-push-1-12 {
    margin-left: 8.33%;
    margin-left: calc(100% / 12);
  }

  .lt-push-0 {
    margin-left: 0;
  }

  .lt-show {
    display: block;
  }

  .lt-hide {
    display: none;
  }

  .lt-no-p {
    padding: 0;
  }
}

/*------------------------------------*\
    MD Grid
\*------------------------------------*/
@media screen and (max-width: $screen-md) {
  /* COL'S */
  .md-col-1-1 {
    width: 100%;
    width: calc(100% / 12 * 12);
  }

  .md-col-11-12 {
    width: 91.66%;
    width: calc(100% / 12 * 11);
  }

  .md-col-10-12 {
    width: 83.333%;
    width: calc(100% / 12 * 10);
  }

  .md-col-9-12,
  .md-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
  }

  .md-col-8-12,
  .md-col-2-3 {
    width: 66.66%;
    width: calc(100% / 12 * 8);
  }

  .md-col-7-12 {
    width: 58.33%;
    width: calc(100% / 12 * 7);
  }

  .md-col-6-12,
  .md-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
  }

  .md-col-5-12 {
    width: 41.66%;
    width: calc(100% / 12 * 5);
  }

  .md-col-4-12,
  .md-col-1-3 {
    width: 33.33%;
    width: calc(100% / 12 * 4);
  }

  .md-col-3-12,
  .md-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
  }

  .md-col-1-5 {
    width: 20%;
    width: calc(100% / 5);
  }

  .md-col-2-12,
  .md-col-1-6 {
    width: 16.667%;
    width: calc(100% / 12 * 2);
  }

  .md-col-1-7 {
    width: 14.28%;
    width: calc(100% / 7);
  }

  .md-col-1-8 {
    width: 12.5%;
    width: calc(100% / 8);
  }

  .md-col-1-9 {
    width: 11.1%;
    width: calc(100% / 9);
  }

  .md-col-1-10 {
    width: 10%;
    width: calc(100% / 10);
  }

  .md-col-1-11 {
    width: 9.09%;
    width: calc(100% / 11);
  }

  .md-col-1-12 {
    width: 8.33%;
    width: calc(100% / 12);
  }

  /* PUSH */

  .md-push-1-1 {
    margin-left: 100%;
    margin-left: calc(100% / 12 * 12);
  }

  .md-push-11-12 {
    margin-left: 91.66%;
    margin-left: calc(100% / 12 * 11);
  }

  .md-push-10-12 {
    margin-left: 83.333%;
    margin-left: calc(100% / 12 * 10);
  }

  .md-push-9-12,
  .md-push-3-4 {
    margin-left: 75%;
    margin-left: calc(100% / 12 * 9);
  }

  .md-push-8-12,
  .md-push-2-3 {
    margin-left: 66.66%;
    margin-left: calc(100% / 12 * 8);
  }

  .md-push-7-12 {
    margin-left: 58.33%;
    margin-left: calc(100% / 12 * 7);
  }

  .md-push-6-12,
  .md-push-1-2 {
    margin-left: 50%;
    margin-left: calc(100% / 12 * 6);
  }

  .md-push-5-12 {
    margin-left: 41.66%;
    margin-left: calc(100% / 12 * 5);
  }

  .md-push-4-12,
  .md-push-1-3 {
    margin-left: 33.33%;
    margin-left: calc(100% / 12 * 4);
  }

  .md-push-3-12,
  .md-push-1-4 {
    margin-left: 25%;
    margin-left: calc(100% / 12 * 3);
  }

  .md-push-1-5 {
    margin-left: 20%;
    margin-left: calc(100% / 5);
  }

  .md-push-2-12,
  .md-push-1-6 {
    margin-left: 16.667%;
    margin-left: calc(100% / 12 * 2);
  }

  .md-push-1-7 {
    margin-left: 14.28%;
    margin-left: calc(100% / 7);
  }

  .md-push-1-8 {
    margin-left: 12.5%;
    margin-left: calc(100% / 8);
  }

  .md-push-1-9 {
    margin-left: 11.1%;
    margin-left: calc(100% / 9);
  }

  .md-push-1-10 {
    margin-left: 10%;
    margin-left: calc(100% / 10);
  }

  .md-push-1-11 {
    margin-left: 9.09%;
    margin-left: calc(100% / 11);
  }

  .md-push-1-12 {
    margin-left: 8.33%;
    margin-left: calc(100% / 12);
  }

  .md-push-0 {
    margin-left: 0;
  }

  .md-show {
    display: block;
  }

  .md-hide {
    display: none;
  }

  .md-no-p {
    padding: 0;
  }
}

/*------------------------------------*\
    SM Grid
\*------------------------------------*/
@media screen and (max-width: $screen-sm) /* Als je de width aanpast pas ook de media query aan in default */ {
  /* COL'S */
  .sm-col-1-1 {
    width: 100%;
    width: calc(100% / 12 * 12);
  }

  .sm-col-11-12 {
    width: 91.66%;
    width: calc(100% / 12 * 11);
  }

  .sm-col-10-12 {
    width: 83.333%;
    width: calc(100% / 12 * 10);
  }

  .sm-col-9-12,
  .sm-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
  }

  .sm-col-8-12,
  .sm-col-2-3 {
    width: 66.66%;
    width: calc(100% / 12 * 8);
  }

  .sm-col-7-12 {
    width: 58.33%;
    width: calc(100% / 12 * 7);
  }

  .sm-col-6-12,
  .sm-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
  }

  .sm-col-5-12 {
    width: 41.66%;
    width: calc(100% / 12 * 5);
  }

  .sm-col-4-12,
  .sm-col-1-3 {
    width: 33.33%;
    width: calc(100% / 12 * 4);
  }

  .sm-col-3-12,
  .sm-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
  }

  .sm-col-1-5 {
    width: 20%;
    width: calc(100% / 5);
  }

  .sm-col-2-12,
  .sm-col-1-6 {
    width: 16.667%;
    width: calc(100% / 12 * 2);
  }

  .sm-col-1-7 {
    width: 14.28%;
    width: calc(100% / 7);
  }

  .sm-col-1-8 {
    width: 12.5%;
    width: calc(100% / 8);
  }

  .sm-col-1-9 {
    width: 11.1%;
    width: calc(100% / 9);
  }

  .sm-col-1-10 {
    width: 10%;
    width: calc(100% / 10);
  }

  .sm-col-1-11 {
    width: 9.09%;
    width: calc(100% / 11);
  }

  .sm-col-1-12 {
    width: 8.33%;
    width: calc(100% / 12);
  }

  /* PUSH */

  .sm-push-1-1 {
    margin-left: 100%;
    margin-left: calc(100% / 12 * 12);
  }

  .sm-push-11-12 {
    margin-left: 91.66%;
    margin-left: calc(100% / 12 * 11);
  }

  .sm-push-10-12 {
    margin-left: 83.333%;
    margin-left: calc(100% / 12 * 10);
  }

  .sm-push-9-12,
  .sm-push-3-4 {
    margin-left: 75%;
    margin-left: calc(100% / 12 * 9);
  }

  .sm-push-8-12,
  .sm-push-2-3 {
    margin-left: 66.66%;
    margin-left: calc(100% / 12 * 8);
  }

  .sm-push-7-12 {
    margin-left: 58.33%;
    margin-left: calc(100% / 12 * 7);
  }

  .sm-push-6-12,
  .sm-push-1-2 {
    margin-left: 50%;
    margin-left: calc(100% / 12 * 6);
  }

  .sm-push-5-12 {
    margin-left: 41.66%;
    margin-left: calc(100% / 12 * 5);
  }

  .sm-push-4-12,
  .sm-push-1-3 {
    margin-left: 33.33%;
    margin-left: calc(100% / 12 * 4);
  }

  .sm-push-3-12,
  .sm-push-1-4 {
    margin-left: 25%;
    margin-left: calc(100% / 12 * 3);
  }

  .sm-push-1-5 {
    margin-left: 20%;
    margin-left: calc(100% / 5);
  }

  .sm-push-2-12,
  .sm-push-1-6 {
    margin-left: 16.667%;
    margin-left: calc(100% / 12 * 2);
  }

  .sm-push-1-7 {
    margin-left: 14.28%;
    margin-left: calc(100% / 7);
  }

  .sm-push-1-8 {
    margin-left: 12.5%;
    margin-left: calc(100% / 8);
  }

  .sm-push-1-9 {
    margin-left: 11.1%;
    margin-left: calc(100% / 9);
  }

  .sm-push-1-10 {
    margin-left: 10%;
    margin-left: calc(100% / 10);
  }

  .sm-col-1-11 {
    margin-left: 9.09%;
    margin-left: calc(100% / 11);
  }

  .sm-push-1-12 {
    margin-left: 8.33%;
    margin-left: calc(100% / 12);
  }

  .sm-push-0 {
    margin-left: 0;
  }

  .sm-show {
    display: block;
    height: auto;
  }

  .sm-hide {
    display: none;
    width: 0;
    height: 0;
  }

  .sm-no-p {
    padding: 0;
  }
}

/*------------------------------------*\
    XS Grid
\*------------------------------------*/
@media screen and (max-width: $screen-xs) /* Als je de width aanpast pas ook de media query aan in default */ {
  /* COL'S */
  .xs-col-1-1 {
    width: 100%;
    width: calc(100% / 12 * 12);
  }

  .xs-col-11-12 {
    width: 91.66%;
    width: calc(100% / 12 * 11);
  }

  .xs-col-10-12 {
    width: 83.333%;
    width: calc(100% / 12 * 10);
  }

  .xs-col-9-12,
  .xs-col-3-4 {
    width: 75%;
    width: calc(100% / 12 * 9);
  }

  .xs-col-8-12,
  .xs-col-2-3 {
    width: 66.66%;
    width: calc(100% / 12 * 8);
  }

  .xs-col-7-12 {
    width: 58.33%;
    width: calc(100% / 12 * 7);
  }

  .xs-col-6-12,
  .xs-col-1-2 {
    width: 50%;
    width: calc(100% / 12 * 6);
  }

  .xs-col-5-12 {
    width: 41.66%;
    width: calc(100% / 12 * 5);
  }

  .xs-col-4-12,
  .xs-col-1-3 {
    width: 33.33%;
    width: calc(100% / 12 * 4);
  }

  .xs-col-3-12,
  .xs-col-1-4 {
    width: 25%;
    width: calc(100% / 12 * 3);
  }

  .xs-col-1-5 {
    width: 20%;
    width: calc(100% / 5);
  }

  .xs-col-2-12,
  .xs-col-1-6 {
    width: 16.667%;
    width: calc(100% / 12 * 2);
  }

  .xs-col-1-7 {
    width: 14.28%;
    width: calc(100% / 7);
  }

  .xs-col-1-8 {
    width: 12.5%;
    width: calc(100% / 8);
  }

  .xs-col-1-9 {
    width: 11.1%;
    width: calc(100% / 9);
  }

  .xs-col-1-10 {
    width: 10%;
    width: calc(100% / 10);
  }

  .xs-col-1-11 {
    width: 9.09%;
    width: calc(100% / 11);
  }

  .xs-col-1-12 {
    width: 8.33%;
    width: calc(100% / 12);
  }

  /* PUSH */

  .xs-push-1-1 {
    margin-left: 100%;
    margin-left: calc(100% / 12 * 12);
  }

  .xs-push-11-12 {
    margin-left: 91.66%;
    margin-left: calc(100% / 12 * 11);
  }

  .xs-push-10-12 {
    margin-left: 83.333%;
    margin-left: calc(100% / 12 * 10);
  }

  .xs-push-9-12,
  .xs-push-3-4 {
    margin-left: 75%;
    margin-left: calc(100% / 12 * 9);
  }

  .xs-push-8-12,
  .xs-push-2-3 {
    margin-left: 66.66%;
    margin-left: calc(100% / 12 * 8);
  }

  .xs-push-7-12 {
    margin-left: 58.33%;
    margin-left: calc(100% / 12 * 7);
  }

  .xs-push-6-12,
  .xs-push-1-2 {
    margin-left: 50%;
    margin-left: calc(100% / 12 * 6);
  }

  .xs-push-5-12 {
    margin-left: 41.66%;
    margin-left: calc(100% / 12 * 5);
  }

  .xs-push-4-12,
  .xs-push-1-3 {
    margin-left: 33.33%;
    margin-left: calc(100% / 12 * 4);
  }

  .xs-push-3-12,
  .xs-push-1-4 {
    margin-left: 25%;
    margin-left: calc(100% / 12 * 3);
  }

  .xs-push-1-5 {
    margin-left: 20%;
    margin-left: calc(100% / 5);
  }

  .xs-push-2-12,
  .xs-push-1-6 {
    margin-left: 16.667%;
    margin-left: calc(100% / 12 * 2);
  }

  .xs-push-1-7 {
    margin-left: 14.28%;
    margin-left: calc(100% / 7);
  }

  .xs-push-1-8 {
    margin-left: 12.5%;
    margin-left: calc(100% / 8);
  }

  .xs-push-1-9 {
    margin-left: 11.1%;
    margin-left: calc(100% / 9);
  }

  .xs-push-1-10 {
    margin-left: 10%;
    margin-left: calc(100% / 10);
  }

  .xs-push-1-11 {
    margin-left: 9.09%;
    margin-left: calc(100% / 11);
  }

  .xs-push-1-12 {
    margin-left: 8.33%;
    margin-left: calc(100% / 12);
  }

  .xs-push-0 {
    margin-left: 0;
  }

  .xs-show {
    display: block;
    height: auto;
  }

  .xs-hide {
    display: none;
    width: 0;
    height: 0;
  }

  .xs-no-p {
    padding: 0;
  }
}
