@import './variables.scss';
/* WCAG */

:focus-visible:not(input):not(select) {
  border: 2px solid blue !important;
  display: inline-block;
}

/* DEFAULT LINK */

a {
  color: $black;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: #000;
  background: $pink;
}

/* DEFAULT TITLES/TEXT */

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
  font-family: $font-title;
  margin: 00;
}

h1,
.heading-1 {
  font-size: 10rem;
  font-weight: 700;
  line-height: 100%;

  @include media(sm) {
    font-size: 4.8rem;
  }
}

h2,
.heading-2 {
  font-size: 8rem;
  line-height: 100%;

  @include media(sm) {
    font-size: 4.2rem;
  }
}

h3,
.heading-3 {
  font-size: 6.4rem;
  line-height: 100%;

  @include media(sm) {
    font-size: 3.6rem;
  }
}

h4,
.heading-4 {
  font-size: 5.6rem;
  line-height: 100%;

  @include media(sm) {
    font-size: 3rem;
  }
}

h5,
.heading-5 {
  font-size: 3.6rem;
  line-height: 120%;
  line-height: 120%;

  @include media(sm) {
    font-size: 2.4rem;
  }
}

h6,
.heading-6 {
  font-size: 2.6rem;
  line-height: 120%;
}

p {
  font-size: 2rem;
  line-height: 150%;

  @include media(sm) {
    font-size: 1.8rem;
  }
}

.intro-text {
  font-size: 2.6rem;
  line-height: 140%;

  @include media(sm) {
    font-size: 2.2rem;
  }
}

/* Title animation */
.title-animation {
  margin: -10px 0;
  padding: 10px 0;

  span {
    position: relative;
    display: inline-flex;
  }

  > span {
    line-height: 120%;
    overflow: hidden;
    margin: -2px 0;

    > span {
      margin: -10px 0;
      transform: translateY(100%);

      @include media(sm) {
        margin: 0;
      }
    }
  }

  &.animate {
    > span {
      @for $i from 0 through 100 {
        &:nth-of-type(#{$i}) {
          > span {
            animation-delay: $i * 0.08s;
          }
        }
      }

      > span {
        animation: headerTitle 0.6s forwards ease;
      }
    }
  }
}

/* HELPERS */

.relative {
  position: relative;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

@include media(md) {
  .md-text-align-left {
    text-align: left;
  }

  .md-text-align-right {
    text-align: right;
  }

  .md-text-align-center {
    text-align: center;
  }
}

@include media(sm) {
  .sm-text-align-left {
    text-align: left;
  }

  .sm-text-align-right {
    text-align: right;
  }

  .sm-text-align-center {
    text-align: center;
  }
}

@include media(xs) {
  .xs-text-align-left {
    text-align: left;
  }

  .xs-text-align-right {
    text-align: right;
  }

  .xs-text-align-center {
    text-align: center;
  }
}
/* BUTTONS */

.btn {
  font-size: 1.8rem;
  display: inline-flex;
  height: 6.4rem;
  padding: 0px 3.2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  transition: 0.25s ease-in;
  border: 0.2rem solid transparent;
  font-weight: 600;

  .btn-icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }

  .btn-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 1rem 2.5rem;
    transition: all ease-in-out 0.3s;
    z-index: 2;
  }
}

.btn-inline {
  background: #ffc300;
  color: #000;
  padding: 1rem 2rem;

  &:active,
  &:focus,
  &:hover {
    background: #fff;
    color: #000;
  }
}

.btn-primary {
  color: #fff;
  background-color: $black;

  .btn-icon {
    width: 4.3rem;
    min-width: 4.3rem;
  }

  &:hover {
    color: $black;
    background: $white;
    border-color: $black;
  }

  &.black {
    color: #000;
    border-color: #000;

    &::before {
      background-color: #000;
    }

    &:hover {
      color: #fff;
    }
  }

  &.title-label {
    cursor: default;
    pointer-events: none;
    margin: $gutter;
    margin-bottom: 2 * $gutter;
    font-family: $font-inconsolata;

    &::before {
      display: none;
    }

    .btn-icon {
      transition: none;
      background-color: #000;
      z-index: 3;
    }

    .btn-icon::after {
      content: '';
      width: 6rem;
      height: 0.1rem;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transition: none;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.btn-secondary {
  color: $black;
  background-color: transparent;
  border-color: $black;

  .btn-icon {
    font-size: 2.4rem;
  }

  &:hover {
    color: $white;
    background-color: $black;

    &::before {
      height: 100%;
    }
  }
}

.btn-line {
  display: inline-flex;
  margin: 0 1rem 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: color ease-in-out 0.3s;
  color: #fff;
  padding: 0.5rem 0;

  &::after {
    content: '';
    width: 100%;
    height: 0.2rem;
    background-color: #fff;
    transition: all ease-in-out 0.3s;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:hover {
    &::after {
      animation: btnLineHover 1.2s ease infinite;
    }
  }
}

.wavy-line-wrapper {
  overflow: hidden;
  position: relative;

  &.small {
    width: 5rem;
    height: 1.8rem;

    .wavy-line {
      animation-name: wave-small;
    }
  }

  &.big {
    width: 15rem;
    height: 0.8rem;

    .wavy-line {
      animation-name: wave-big;
    }
  }

  .wavy-line {
    width: 150%;
    height: 100%;
    background-image: url('/Images/wave.svg');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center left;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 0.7s;
    position: absolute;
  }
}

/* Background colors */
.bg-black {
  background-color: $black;
  color: $white;
}

.bg-white {
  background-color: $white;
}

.bg-brown {
  background-color: $brown;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-pink {
  background-color: $pink;
}

.bg-blue {
  background-color: $blue;
}

/* Background image */
.bg-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center !important;

  .bg-image-img {
    object-position: center center;
  }

  &.left-top {
    background-position: left top !important;

    .bg-image-img {
      object-position: left top;
    }
  }

  &.center-top {
    background-position: center top !important;

    .bg-image-img {
      object-position: center top;
    }
  }

  &.right-top {
    background-position: right top !important;

    .bg-image-img {
      object-position: right top;
    }
  }

  &.left-center {
    background-position: left center !important;

    .bg-image-img {
      object-position: left center;
    }
  }

  &.center-center {
    background-position: center center !important;

    .bg-image-img {
      object-position: center center;
    }
  }

  &.right-center {
    background-position: right center !important;

    .bg-image-img {
      object-position: right center;
    }
  }

  &.left-bottom {
    background-position: left bottom !important;

    .bg-image-img {
      object-position: left bottom;
    }
  }

  &.center-bottom {
    background-position: center bottom !important;

    .bg-image-img {
      object-position: center bottom;
    }
  }

  &.right-bottom {
    background-position: right bottom !important;

    .bg-image-img {
      object-position: right bottom;
    }
  }

  .bg-image-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &.contain {
    background-size: contain;

    .bg-image-img {
      object-fit: contain;
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.text-bold {
  font-weight: 700;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /* Background image */
  .bg-image {
    .bg-image-img {
      display: none !important;
    }
  }
}
